body {
	background-color: maroon;
    display: flex;
    justify-content: center;
}

.centerDiv {
	padding-top:0%;
	bottom: 0;
	width: 50%;
	background-color: white;
}

#clippy {
	padding:30px;
	width:30%;
}